<% include partials/header %>

<div class="ui main text container">
    <div class="ui huge header">
        New Post
    </div>
    <form action="/blogs" method="POST" class="ui form">
        <div class="field">
            <label for="title">Post title</label>
            <input type="text" id="title" name="blog[title]" placeholder="My awesome post">
        </div>
        <div class="field">
            <label for="content">Post content</label>
            <input type="text" id="content" name="blog[content]" placeholder="Your post goes here...">
        </div>
        <div class="field">
            <label for="img">Post image</label>
            <input type="text" id="img" name="blog[image]" placeholder="https://picsum.photos/200/300">
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
    
</div>


<% include partials/footer %>