.header .icon {
    font-size: 2em;
}

footer {
    background: #cecece;
    color: #444;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0; 
    right: 0;
    text-align: center;
}

footer p {
    padding-top: 40px;
}